<div class="container col-xs-12" *ngIf="payments.length>0">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Description</th>
          <th>Time</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments;let slno=index">
            <td>{{slno+1}}</td>
            <td>{{payment.description}}</td>
            <td>{{payment.datetime}}</td>
            <td>{{payment.amount}}</td>
        </tr>
      </tbody>  
    </table>
</div>
